
@import "./../../node_modules/slick-carousel/slick/slick.css";
@import "./../../node_modules/slick-carousel/slick/slick-theme.css";

.hero {
    background-image: url('./../img/hero.jpg');
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.hero-content {
    width: 50%;
    position: relative;
    top: 20%;
    left: 0%;
}


.slick-list {
    max-width: 1170px;
    margin: auto;
}

.slick-next , .slick-prev {
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.w-slick-card {
    padding: 20px;
}

.slick-next:hover , .slick-prev:hover {
    background-color: lightgrey;
}

.ui-header {
    margin: 20px auto !important;
}



@media only screen and (max-width: 1200px) {
    .slick-list {
        max-width: 600px;

    }
    .hero {
        max-height: 400px;
    }

}

@media only screen and (max-width: 600px) {
    .slick-list {
        max-width: 480px;

    }
    .hero {
        max-height: 300px;
    }

}